@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {

  margin: 0;
  padding: 0;
  height: 100%;
  color: #fff;
  background: linear-gradient(90.21deg, rgba(129, 43, 95, 0.8) -5.91%, rgba(74, 47, 189, 0.8) 111.58%);
  background-attachment: fixed;
}

main {
  /* Elimina el background específico de main si no lo necesitas */
  height: 100vh;
  height: 100dvh;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f5741c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}